<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lista de Contas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="getContatos($event)">
    
  </ion-searchbar>
  
  <ion-item *ngFor= "let contatos of pessoa">
    <ion-avatar slot="start" style="width: 80px; height: 80px;">
      <img src="../assets/images/user.png" >
    </ion-avatar>
    <ion-label>
      <h2>{{contatos.nome}}</h2>
      <p>{{contatos.telefone}}</p>
      <p>{{contatos.email}}</p>
    </ion-label>
  </ion-item>
  
</ion-content>
